li {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    float: left;
    padding: 20px;
}

.footer .container-footer {
    width: 100%;
    margin-bottom: 100px;
    padding: 0 auto;
}

.footer-text {
    float: left;
    padding: 30px 10px 0px;
    width: 30%;
    height: auto;
}

.footer-text h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
    color: #f5efef;
    font-weight: lighter;
}

.footer-text h1 span {
    color: #f3f6f8;
    font-weight: bolder !important;
}

.footer-text h1 p {
    text-align: justify;
}

.footer-text p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    color: #666;
}


@media (max-width: 600px) {

    .footer-text {
        float: left;
        padding: 1px;
        width: 100%;
        height: auto;
        margin-bottom: 1px;
    }
    .footer-text p {
        margin-bottom: 20px;
    }
    .footer-text h1 {
        font-size: 22px;
    }
}